<a href="https://colab.research.google.com/github/Anacsilva198/Proz-Atividades/blob/main/Atividade11_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1.Regar todas as plantas**

Andrelino Lima

José Jonatas

Ana Clara

In [ ]:
for i in range(6):
  planta_atual = str(i)
  print("Regar a planta" + planta_atual)

In [ ]:
i = 0
while(i < 6):
  planta_atual = str(i)
  print("Regar a planta" + planta_atual)
  i += 1

# **2. Regar só os pares**

In [ ]:
for i in range(6):
  if(i % 2 !=0):
    continue
  print("Regar as plantas " + str(i))

Regar as plantas 0
Regar as plantas 2
Regar as plantas 4

Andrelino Lima

José Jonatas

Ana Clara

In [91]:
i = 0
while (i < 6):
  print("Regar as plantas " + str(i))
  i = i + 2

Regar as plantas 0
Regar as plantas 2
Regar as plantas 4

# **Funções**
Tabuada de multiplicação

In [ ]:
def escrever_multiplicacao(num1, num2):
  resultado = str(num1 * num2)
  frase = str(num1) + " x " + str(num2) + " = " + resultado
  return frase

print(escrever_multiplicacao(2,10))

In [ ]:
for i in range(1,13):
  frase_atual = escrever_multiplicacao(9,i)
  print(frase_atual)

# **Atividade tabuada de divisão**

In [ ]:
def escrever_divisao(num1, num2):
  resultado = str(num1 / num2)
  frase = str(num1) + "÷" + str(num2) + "=" + resultado
  return frase
print(escrever_divisao(5,10))

In [ ]:
for i in range(1,11):
  frase_atual = escrever_divisao(100,i)
  print(frase_atual)

# **Atividade tabuada de subtração**

---

In [ ]:
def escrever_subtracao(num1, num2):
  resultado = str(num1 - num2)
  frase = str(num1) + "-" + str(num2) + "=" + resultado
  return frase
print(escrever_subtracao(5,10))

In [ ]:
for i in range(1,11):
  frase_atual = escrever_subtracao(50,i)
  print(frase_atual)

# **Atividade tabuada de adição**

In [ ]:
def escrever_adicao(num1, num2):
  resultado = str(num1 + num2)
  frase = str(num1) + "+" + str(num2) + "=" + resultado
  return frase
print(escrever_adicao(5,10))

In [ ]:
for i in range(1,11):
  frase_atual = escrever_adicao(2,i)
  print(frase_atual)